In [15]:
import numpy as np
import networkx
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os
# import wordcloud.WordCloud

## Database creation:
Source : [Github link for source](https://github.com/dr5hn/countries-states-cities-database/blob/master/csv/countries.csv): considering these as the officially recognised Countries    
Imported CSVs in CSV/Imported   
The CSVs after cleaning in CSV/Used

In [16]:
df = pd.read_csv("CSV/Imported/countries.csv",usecols=["id","name"],index_col="id")
df

                          name
id
1                  Afghanistan
2                Aland Islands
3                      Albania
4                      Algeria
5               American Samoa
..                         ...
243  Wallis and Futuna Islands
244             Western Sahara
245                      Yemen
246                     Zambia
247                   Zimbabwe

[250 rows x 1 columns]

In [17]:
os.makedirs("CSV/Used",exist_ok=True)
df.to_csv("CSV/Used/countries")